			html,body{
				height: 100vh;
				overflow: hidden;
			}

			#header{
		        position: fixed;
			    width: 100vw;
			    height: 10vh;
			    display: flex;
			    flex-direction: row;
			    justify-content: flex-start;
			    align-items: center;
			    top: 0;
			    padding: 0;
			    left: 0;
			    margin: 0;
			    background: #292929;
			    transition: .5s ease;
			}

			#mst_wraper{
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			#mst{
				display: flex;
				flex-direction: column;
				align-items: end;
				font-size: x-large;
			}

			.logo_desc{
				font-size: small;
				font-family: 'Montserrat';
				color: orangered;
				text-shadow: 0 0 1px black;
				font-weight: bold;
			}

			#palka_wraper{
				display: flex;
    			margin: 2%;
    			align-items: center;
			}

			#palka{
			    height: 55px;
			    width: 2px;
			    background: white;
			}

			#title_wraper{
			    height: 100%;
			    display: flex;
			    align-items: center;
			}

			#company_title{
   				text-align: center;
   				font-family: 'Montserrat';
   				color: white;
			}



			#navigation{
				display: flex;
				align-items: center;
				flex-direction: row;
				position: relative;
				width: 45%;
			}

			.nav{
				width: 30%;
				text-align: center;
			}

			#nav_callback_container{}

			@media (min-width: 320px) and (max-width: 812px){
				#navigation{display: none;}
				#nav_callback_container{display: none;}
			}
			#menu_button_container{
				display: flex;
			    position: absolute;
			    font-size: x-large;
			    color: white;
			    right: 5%;
			    color: orangered;
			}

			@media (min-width: 813px){
				#menu_button_container{display: none;}
			}
