
			html,body{
				height: 100vh;
				width: 100vw;
				overflow-x: hidden ;
				margin: 0;
			}


			#above_header{
			    position: absolute;
			    width: 100vw;
			    left: 0;
			    top: 0;
			    transition: .5s ease;
			    height: 8vh;
			    z-index: 1;
			    display: none;
			}


			#callback_separator{
				width: 2px;
				height: 50%;

			}
.headerX{
	background: #292929ab;
	transition: .5s linear;
}

.header{
background: transparent;
	transition: .5s linear;

}
			#header{
			    position: fixed;
			    width: 100vw;
			    height: 9vh;
			    display: flex;
			    flex-direction: row;
			    justify-content: flex-start;
			    align-items: center;
			    top: 0;
			    padding: 0;
			    left: 0;
			    margin: 0;
			    box-shadow: 0 3px 5px 2px inset #000000;
			    transition: .5s ease;
			    z-index: 1;
			}

			#mst_wraper{
				display: flex;
				flex-direction: row;
				align-items: center;
			}

			#mst{
				display: flex;
				flex-direction: column;
				align-items: end;
				font-size: x-large;
			}

			.logo_desc{
				font-size: small;
				font-family: 'Montserrat';
				color: orangered;
				text-shadow: 0 0 1px black;
				font-weight: bold;
			}

			#palka_wraper{
				display: flex;
    			margin: 2%;
    			align-items: center;
			}

			#palka{
			    height: 55px;
			    width: 2px;
			    background: white;
			}

			#title_wraper{
			    height: 100%;
			    display: flex;
			    align-items: center;
			}

			#company_title{
   				text-align: center;
   				font-family: 'Montserrat';
   				color: white;
   				font-size: x-large;
			}



			#navigation{
			    display: flex;
			    align-items: center;
			    flex-direction: row;
			    position: relative;
			    width: 40%;
			    left: 10%;

			}

			.nav{
				width: 30%;
				text-align: center;
				font-family: 'Montserrat';
				font-weight: bold;
				color: white;
				font-size: larger;
				transition: .5s ease;
				border-right: 1px solid black;
				white-space: nowrap;

			}

			.nav:hover{
				transition: .5s ease;
				color: orangered;
				text-shadow: 1px 0 2px black, 0 0 3px;
				cursor: pointer;
			}

			#nav_callback_container{
			    display: flex;
			    flex-direction: row;
			    justify-content: start;
			    align-items: center;
			    gap: 1em;
			    position: relative;
			    left: 72%;
			}

			#callback_button{
				color: white;
			    font-family: 'Montserrat';
			    border-bottom-right-radius: 5px;
			    font-size: x-large;
			    border-bottom-left-radius: 5px;
			    border-top-left-radius: 6px;
			    border: 2px solid #505050;
			    border-top-right-radius: 5px;
			    padding: 4px;
			    box-shadow: 0 0 3px black;
			}

			#callback_separator{
				    width: 1px;
				    height: 56px;
				    background: white;
			}

			#nav_callback_element{
				color: white;
			}

			@media (min-width: 320px) and (max-width: 1200px){
				#navigation{display: none;}
				#nav_callback_container{display: none;}
				#menu_button_container{
					display: flex;
				    position: absolute;
				    font-size: x-large;
				    color: white;
				    right: 5%;
				    color: orangered;
				}

			}
			#menu_button_container{
				display: flex;
			    position: absolute;
			    font-size: x-large;
			    color: white;
			    right: 5%;
			    color: orangered;
			}

			@media (min-width: 1600px){
				#menu_button_container{display: none;}
			}

			@media (min-width: 600px){
				#mst_wraper{
					    display: flex;
					    position: relative;
					    flex-direction: row;
					    float: left;
					    width: 30%;
					    align-items: center;
					    left: 5%;
				}
				#company_title{
					font-size: xxx-large;
   					text-align: center;
   					font-family: 'Montserrat';
   					color: white;
				}

				.logo_desc{
					font-size: medium;
					font-family: 'Montserrat';
					color: orangered;
					text-shadow: 0 0 1px black;
					font-weight: bold;
			}
		}


.block{
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}

#title_container{
    position: absolute;
    z-index: 27;
        left: -57%;
        height: 25%;
    transform: translateY(440px);
    transition: .5s ease-out;
    background: linear-gradient(45deg, black, transparent);
}

#title_part_1{
    font-size: 80px;
    text-transform: uppercase;
    -webkit-text-stroke-width: thin;
    text-shadow: 0 0 5px black, 3px 1px 5px black;
    height: 9vh;
    color: rgb(255 255 255);
    font-family: Oswald, sans-serif;

}
#title_part_2{
    height: 57px;
    letter-spacing: -5px;
    white-space: nowrap;
    font-family: 'Montserrat';
    margin-left: -33%;
    font-size: 67px;
    color: white;
    text-shadow: 0 0 3px black, -1px 0px 3px black;
    transition: 1s ease-out;
}

#title_part_3{
	    font-family: 'Montserrat';
    font-size: 70px;
    margin-left: -41%;
    height: 46px;
    transition: 1s ease-out;
    font-weight: bolder;
    white-space: nowrap;
    color: #FF9800;
    text-shadow: 0 0 3px black, -1px 0px 3px black;
}

#block1{
background-image: linear-gradient(to bottom, #0000001a 24%, black 111%),linear-gradient(to top, #00000000 89%, #000000d4 105%),url(/home/unq/Downloads/289D3.jpg.imagethumb.1920.jpg);
	    background-attachment: scroll,fixed,fixed;
	    position: relative;
	    background-position: 0% 93%;
	    z-index: 0;
}

#block2{

    background: linear-gradient(45deg, black, #353535);
    border-radius: 10px;
    background-position-y: 24%;
    background-size: 100% 130%;
    background-attachment: scroll;
    overflow: visible;

        position: relative;
    width: 100%;
    height: 50vh;
    background: linear-gradient(45deg, #2f2f2f, #00000047),url(/home/unq/Downloads/adrien-olichon-h605cAbDm8s-unsplash.jpg);
    border-radius: 10px;
    background-position-y: 24%;
    background-size: 100% 130%;
    background-attachment: fixed;
    overflow: visible;
}

#block3{    
	background: linear-gradient(45deg, #2f2f2f, #00000047),url(/home/unq/Downloads/adrien-olichon-h605cAbDm8s-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#block4{
	display: flex;
	flex-direction: column;
	background: linear-gradient(to top,#292929,transparent);

}

#shadow_block{
	position: absolute;
    width: 100vw;
    background-image: url(),linear-gradient(224deg, #000000b5 28% , #00000036);
    z-index: 26;
    height: 100vh;
    background-attachment: scroll;
}

.services_wraper{
    display: flex;
    position: relative;
    justify-content: space-evenly;
    width: 100vw;
    height: 45vh;
    flex-direction: row;
    align-items: center;
    top: 88%;
    margin: -5% -1%;
}

.service_block{


    color: white;
    overflow: hidden;
    width: 20%;
    border: 1px solid #272727;
    text-align: center;
    height: 79%;
    margin: 2px;
    background: linear-gradient(191deg, #0a0a0a1f 28%, #0e0e0e0f); border-radius: 7px;
    background-size: 100% 100%;
    box-shadow: 0 0 14px 1px black;
    border-radius: 10px;



}

.service_content_wraper{
    width: 95%;
    height: 95%;
    background-size: cover;
    margin: 2%;
/*    background: linear-gradient(65deg, #000000, #3636360d);*/
transition: scale 0.5s ease;
    position: relative;
    overflow: hidden;
    background-size: cover;
}

.service_content{
/*	position: relative;
    top: 70%;
    left: 5%;
    font-family: sans-serif;
    font-size: 45px;
    text-align: left;
    height: 25%;
    color: white;
    text-shadow: 0 0 3px;
    background: linear-gradient(13deg, #00000075, transparent);*/
/*
    position: relative;
    top: 60%;
    left: -1%;
    font-family: 'Montserrat';
    font-size: 35px;
    justify-content: center;
    align-items: center;
    display: flex;
    gap: 21em;
    display: flex;
    height: 40%;
    color: white;
    text-shadow: 0 0 3px;
    background: linear-gradient(13deg, #00000075, #0e0b0b45);*/

  /*      position: relative;
    top: 75%;
    left: -1%;
    font-family: 'Montserrat';
    font-size: 30px;
    justify-content: right;
    align-items: center;
    display: flex;
    display: flex;
    height: 25%;
    color: white;
    text-shadow: 0 0 3px;
    background: linear-gradient(360deg, #000000e0, #0e0b0b45);*/

        position: relative;

    font-family: 'Montserrat';
    font-size: 30px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: flex;
    height: 100%;
    color: white;
    text-shadow: 0 0 3px;
    background: linear-gradient(360deg, #000000e0, #0e0b0b45);
}

#service_title{
    position: relative;
    text-align: center;
    top: 52%;

}
#contacts_title{    background: linear-gradient(to right, #000000b0, transparent);*}

#price_title{background: linear-gradient(to left,black,transparent);}

#about_us_title{background: linear-gradient(to left, black, transparent);text-align: right;}

.block_title{
/*	position: relative;
    color: white;
    font-size: 5em;
    font-family: 'Montserrat';
    text-shadow: 6px 0px 6px black, -1px 0 2px white;
    box-shadow: 0 0 3px 1px inset black;
    height: 10%;
	width: 100%;
    top: 15%;*/

    color: orangered;
    font-size: 5em;
    font-family: 'Montserrat';
    text-shadow: 3px 0px 4px black, 0px 0 4px orangered;
    height: 9%;
    width: 100%;

}

#price_table{
    border: 1px solid black;
    border-radius: 2%;
    overflow: hidden;
    height: 80%;
    width: 50%;
    top: 14%;
    position: relative;
    left: 30%;
}

.price_table_line{
	display: flex;
    margin: 0px;
    border: 2px solid #282828;
    border-bottom: 1px;
    flex-direction: row;
    height: 11%;
    width: 100%;
    border-radius: 1px;
    justify-content: left;
    text-align: left;
}

	.price_table_line_title{
	color: #ff4b00;
    border-right: 1px solid black;
    font-size: 25px;
    width: 70%;
    text-align: center;
    height: 41%;
    text-shadow: 0 2px 3px black;
    margin: 3%;
    font-family: sans-serif;
}
.price_table_header{
height: 20%;
    border: 2px solid darkgray;
    border-bottom: 1px solid black;
    display: flex;
    margin: 0px;
    border-bottom: 1px;
    flex-direction: row;
    width: 100%;
    border-radius: 1px;
    justify-content: left;
}

.price_table_header_title{
	border-right: 1px solid black;
    width: 65%;
    margin: 7%;
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    color: white;
    text-shadow: 0 0 2px black;
    letter-spacing: -1px;
    font-family: 'Montserrat';
}

#price_table_header_price{
	    position: relative;
    width: 20%;
    height: 100%;
    left: 2%;
    top: 41%;
    font-size: 35px;
    color: white;
    font-family: 'Montserrat';
}



#contacts_block{
/*    position: relative;
    width: 90%;
    height: 60%;
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    top: 20%;*/

/*        position: relative;
    width: 75%;
    margin: 0% 5%;
    display: flex;
    flex-direction: row;
    border: 1px solid;
    top: 20%;*/
	position: relative;
    height: 55%;
    left: 0%;
    display: flex;
    flex-direction: row;
    top: 25%;
    overflow: hidden;
}

#map_wraper{
    position: relative;
  /* ------ left: 5%;
    top: 5%;
    -----*/

/* ----   width: 40%;
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    left: 2%;
    top: 5%;
    float: left;
    border-radius: 5px;

------*/

    position: relative;
    height: 95%;
    border: 4px solid black;
    left: 6%;
    top: 2%;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;

}

#contacts_wraper{
/*----position: relative;
    width: 50%;
    height: 100%;
    left: 5%;
    border: 1px solid;---*/



/*  ---  border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;

    background: #292929;----*/

/*----
        border-radius: 10px;
    display: flex;
    flex-direction: column;
    transform: skew(-15deg, 0deg);
    width: 48%;
    border: 1px solid orangered;
    z-index: 1;
    background: #292929e8;
    -=-----*/

    display: flex;
    flex-direction: column;
    transform: skew(-13deg, 0deg);
    width: 40%;
    background: #292929;
    position: relative;
    border-radius: 10px;
    left: 10%;
    z-index: 1;
}


.contacts_field{
/*    font-size: 190%;
    display: flex;
    margin:2% 0%;
    color: whitez;
    font-family: sans-serif;
    flex-direction: row;
    white-space: nowrap;
    align-items: center;*/

    font-size: 165%;
    display: flex;
    margin: 1% 0%;
    color: white;
    flex-direction: row;
    white-space: nowrap;
    align-items: baseline;

}

.contacts_field_icon{color: orangered; font-size: 80%;}
.contacts_field_description{
	position: relative;
	left: 5%;
}

.contacts_field_block{


    font-family: 'Montserrat';
    display: flex;
    flex-direction: column;
    align-items: baseline;
    transform: skew(15deg, 0deg);
    /* margin: 15%; */
    margin: 5% 17%;
    color: orangered;
    font-weight: bolder;
}

.contacts_field_icon{

}

.contacts_field_icon:hover{
	cursor: pointer;
}


@media (max-width: 500px){
	#title_part_1{
		font-size: 30px;
		height: 5vh;
	}

	#title_part_2{
		height: 20px;
		letter-spacing: -1px;
		font-size: 27px;
	}

	#title_part_3{
		height: 42px;
		font-size: 26px;
	}

	#contacts_block{
		position: relative;
	    height: 90%;
	    left: 0%;
	    display: flex;
	    flex-direction: column-reverse;
	    top: 1%;
	    overflow: hidden;
	}

	.service_block{
color: white;
    overflow: hidden;
    width: 95%;
    border: 1px solid #272727;
    height: 158px;
    LEFT: -5%;
    margin: 0%;
    background: linear-gradient(191deg, #0a0a0aad 28%, #0e0e0e7a);
    border-radius: 7px;
    background-size: 100% 100%;
    box-shadow: 0 0 14px 1px black;
    border-radius: 10px;
    POSITION: RELATIVE;

	}

	.service_content_wraper{
    background: linear-gradient(65deg, #0000004d, #ffffffb5);
    transition: scale 0.5s ease;
    position: relative;
    overflow: hidden;
    margin: 0;
    background-size: 100% 115%;
    width: 100%;
    height: 100%;
	}

	.service_content{
	position: relative;
    font-family: 'Montserrat';
    font-size: 25px;
    justify-content: center;
    align-items: center;
    display: flex;
    display: flex;
    width: 100%;
    height: 100%;
    color: #FF5722;
    text-shadow: 0 0 3px;
    background: linear-gradient(259deg, #000000c2, #0e0b0bab);
}

	.block_title{
	color: white;
    font-weight: bold;
    font-size: 3em;
    font-family: 'Montserrat';
    text-shadow: 0px 0px 2px black, 0px 0pc 3px white;
    height: 9%;
    width: 110%;
}

#service_title{
    position: relative;
    text-align: center;
    top: 14%;
    left: 20%;
}

.services_wraper{
    display: flex;
    position: relative;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    align-items: center;
    top: 16%;
    margin: -5% -1%;
}
#block2{

	    background: linear-gradient(45deg, black, #353535);
    border-radius: 10px;
    background-position-y: 24%;
    background-size: 100% 130%;
    background-attachment: scroll;
    overflow: visible;
    position: relative;
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, #2f2f2f, #00000047),url(/home/unq/Downloads/adrien-olichon-h605cAbDm8s-unsplash.jpg);
    border-radius: 10px;
    background-position-y: 24%;
    background-size: 100% 130%;
    background-attachment: fixed;
    overflow: visible;

}

	
}
